apiVersion: apps/v1
kind: Deployment
metadata:
  name: goserver
  labels:
    app: goserver
spec:
  selector:
    matchLabels:
      app: goserver
  replicas: 1
  template:
    metadata:
      name: "goserver"
      labels:
        app: "goserver"
    spec:
      containers:
        - name: goserver
          image: "castmoon/server-go:v2"
          envFrom:
            - configMapRef:
                name: goserver-env
          ## Using ConfigMap env vars
          # env:
          #   - name: NAME
          #     valueFrom:
          #       configMapKeyRef:
          #         name: goserver-env
          #         key: NAME
          #   - name: PLANET
          #     valueFrom:
          #       configMapKeyRef:
          #         name: goserver-env
          #         key: PLANET
